/* 共通スタイル */
img{
    vertical-align: bottom;
    width: 100%;
    height: auto;
}
.img__trs:hover{
    opacity: 50%;
}
a{
    text-decoration: none;
    color: black;
}



#body__stl{
    float: none;

    width: 100%;
    height: auto;
}

ul li{
    list-style: none;
}

#l__box{
    float: left;

    width: 200px;
    height: auto; 
    top: 0px;
    border-right: solid gray 0.5px;
}
    #l__box nav{
        margin-top: 50px;
    }

        #l__box nav h3{
            background-color:gray;
            color: white;

            width: 200px;
            padding: 15px 0;
            text-align: center;
            font-size: 25px;
        }

        #l__box nav ul{
            margin-bottom: 50px;
        }

            #l__box nav ul li{
            }

                nav ul li.nav__box{
                    width: 200px;
                    height: auto;
                    padding: 20px 0;
                    text-align: center;
                    border-bottom: dotted 0.5px;
                }
                nav ul li.nav__box:hover{
                    background-color: gainsboro;
                }
                nav ul a{
                    text-decoration: none;
                    color: black;
                }
    
    .banner{
        margin: 5px 0;
    }



#r__box{
    float: none;
    margin-left: 200px;
    padding: 50px;
    border-left: solid 0.5px;
}

#r__box--main{
    width: 100%;
    margin-bottom: 50px;
}

#sect01{
    margin-bottom: 50px;
}

ul#sect01__cont{
    overflow: auto;
}

ul#sect01__cont li{
    float: left;
    width: 30%;
}
    .sect01__cont--img{
        padding: 0;
        margin: 0;
        margin-right: 5%;
        margin-bottom: 1em;
    }
        .sect01__cont--img h2{
            font-size: 2rem;
            margin: 1rem;
        }
        .sect01__cont--img p{
            margin: 1em 0 5em 0 ;
        }
    #sect01__cont li p{
        margin: 1em 0 5em 0 ;
    }
        #sect01__cont li h2{
            font-size: 2rem;
            margin: 1rem 0;
        }



#sect02__cont{
    overflow: auto;
    margin-bottom: 50px;
}
.sect02{
    float: left;
}
    .sect02 h2{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .sect02 p{
        font-size: 1.1rem;
        width: 100%;
    }
    
#sect02__cont div{
    width: 35%;
}
#sect02__cont--img{
    float: right;
    
    width: 60%;
}

div#sect03{
    margin-bottom: 50px;
    padding: 20px 0 ;
    height: 500px;
}

#sect03__img{
    float: right;
    width: 35%;
}

.sect03{
    float: left;
}

#sect03__list{
    margin-top: 1rem;
    width: 60%;
}
#sect03__list h1{
    font-size: 2rem;
    margin: 1rem 0;
    margin-bottom: 2rem;
}
#sect03__list--ul p{
    font-size: 17px;
}
#sect03__list--ul li{
    width: 90%;
    margin: 1.5rem 0;
    border-bottom: solid 0.5px;
}
.sect03__list--date{
    float: left;

    margin-right: 2rem;
    font-weight: bold;
}
.sect03__list--li a:hover{
    color: hotpink;
}


footer{
    padding: 30px 50px 30px 50px;
    color: #fff;
    text-align: right;
    background-color: #aaa;
    clear: both;
}