#l__box{
    margin-top: 0;
    display: inline-block;

    width: 200px;
    height: 1000px; 
}
    nav{}

        nav h3{
            background-color:gray;
        }

        nav ul{}

            nav ul li{
                list-style: none;
            }

                nav ul li.nav__box{
                    width: 200px;
                    height: auto;
                    padding: 25px 0;
                    text-align: center;
                    border: solid 0.5px;
                }



#r__box{
    display: inline-block;

    margin: 0 50px;
}