@charset "utf-8";

/* 共通のスタイル */

body{
    color: #000;
    text-align: left;
    background-color: #d7ebff;
}

div#wrap{
    width: 400px;
    margin: 0 auto;
    backgorund-color: #fff;
}

header{
    margin: 0 0 20px 0;
    padding: 10px 0;
    background-color: #8eb9ff;
    border-radius: 0 0 30px 30px;
}
    header h1{
        text-align: center;
        font-size: 1.2rem;
}

nav{}
    nav ul{
        list-style-type: none;
        text-align: center;
    }
        nav ul li{
            display: inline;
}
            nav ul li a{}
            nav ul li a:hover{}

main{}
    main section{}
        main section h2{
            float: left;
            width: 150px;
            margin:  20px 0 20px 0;
            background-color: #ddd;
            border-radius: 10px 0 0 10px;
            text-align: center;
			padding: 5px 0;
        }
        main section p{
            float: left;
            width: 250px;
            margin: 20px 0 20px 0;
            background-color: #ccc;
            border-radius: 0 10px 10px 0;
            text-align: center;
			padding: 5px 0;
        }
        main section div{
        }

aside{}
	aside figure{}
		aside figure img{
			width: 100%;
		}
			aside figure img figcaption{
				margin-top:5px;
			}

footer{
        clear: both;
        padding: 10px 0;
        background-color: #8eb9ff;
        border-radius: 30px 30px 0 0;
        text-align: center;
        height: 1.5em;
		margin-top: 20px;
}

/* CSS3の復習 */
.box{
    display: table-cell;
    width: 400px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
    background-color: #8eb9ff;
    margin-bottom: 20px;
}

/* 角を丸くする */
.radius{
    border-radius: 30px 30px 30px 30px;
}

/**/
.shadow{
	box-shadow: 0px 3px 5px #333;
}

#trans01{
    position: relative;
    left: 0;
    
    transition:
        background-color 0.5s linear,
        font-size 0.5 linear,
        width 0.5s linear,
        border-radius 0.5s linear,
        left 0.5s linear,
        border 0.5s linear,
	;
}

#trans01:hover{
	width: 300px;
    border-radius: 150px 150px 150px 150px;
	background-color: red;
    border: 3px #100 solid;
	left: 50px;
}

#trans02{
	display: block;
	margin: 10px 0 0 0;
	height: 0;
	padding: 150px 0;
	line-height: 0;
	background-image: url(../images/trans01.jpg);
}

#trans__{
	background-image: url(../images/trans01.jpg);
	
	transition:
		background-image 0.5s linear,
		transform 1s linear
	;
}
#trans__:hover{
	background-image: url(../images/trans02.jpg);
}
#trans__ a:visited{
	background-image: url(../images/trans03.jpg);
	
	transform: rotate(360deg);
}

.back{
	clear: both;
	
	padding: 10px;
	background-image: url(../images/back.gif);
}
.opa{
	opacity: 0.5;
}

/* 透明(色) */
.rgba{
	background-color: rgba( 142, 185, 255, 0.5);
}

/* アクア調ボタン */
ul#aqua{
	list-style-type: none;
	text-align: center;
}
	ul#aqua li{
		display: inline;
	}
		ul#aqua li a{
			margin: 0.5px;
			padding: 2px 5px 0 5px;
			text-decoration: none;
			color: black;
			background: linear-gradient(#e66465, #9198e5);
			border-radius: 5px #2ab0ed;
			text-shadow: 1px 1px 3px #000;
			color: white;
			
			transition: top 0.05s linear;
		}
			ul#aqua li a:hover{
				top: -3px;
			}