@charset "utf-8";

/* 共通のスタイル */

*,html{
  margin: 0;
  padding: 0;
list-style: none;
}



body{
  max-width: 1920px;
  overflow: hidden visible;
  background-color: #FFF3E5;
}

nav{
  float: left;
  
  z-index: 100;
  
  width: 100%;
  height: 50px;
  
  background-color: white;
  opacity: 75%;
}

nav ul{
  width: 80%;
  
  margin: 0 auto;
  text-align: center;
  
  padding: 12px;
}

nav ul li{
  display: inline;
  margin: auto 50px;
  
  list-style-type: none;
  font-size: 20px;
  color: red;
}

#nav__space{
  margin-right: 150px;
}



#nav__logo{
  
  width: 100px;
  height: 50px;
  border-radius: 0 0 50px 50px;

  top: 50px;
  right: 0;
  left: 0;
  margin: auto;
  
  background-color: white;
}
#nav__logo img{
  position: absolute;

  top: 5px;
  right: 0;
  left: 0;
  margin: auto;

  width: 80px;
}



div.slide{
  position: absolute;
  z-index: -1;
  
  text-align: center;
  
  width: 100%;
  height: 80%;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div#slide01{
  
  background-image: url('https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png');
  
  background-color: black;
}

div#slide02{
  left: 100%;
  
  background-image: url('https://docs.microsoft.com/ja-jp/windows/uwp/design/controls-and-patterns/images/image_licorice.jpg');
  background-color: blue;
}

div#slide03{
  left:200%;
  background-image: url('https://p.bigstockphoto.com/GeFvQkBbSLaMdpKXF1Zv_bigstock-Aerial-View-Of-Blue-Lakes-And--227291596.jpg');
  
  background-color: red;
}

div#slide04{
  left:300%;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpdGWKf9kVHYkcc5ArHqnDh_QsBOsxse5LRLEcSBMM5nN-5xHK3rjCFliw&s=10');
  
  background-color: red;
}

div#slide05{
  left:400%;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQY3KhTX9GyXM38LEvXKFXmOqFlN7zROvzK9A&usqp=CAU');
  
  background-color: red;
}

#slide__nav--box{
  position: absolute;
  overflow: hidden;
  clear: both;
  
  width: 100%;
  height: 15%;
  
  top: 85%;
  left: 0;
  right: 0;
  margin: auto;
}

#slide__wrap{
  width: 310px;
  margin: 0 auto;
}

.slide__nav{
  float: left;
  
  margin: 0 2.5px;
  
  box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
  
  background-size: cover;
  background-position: center;
}

.slide__nav--side{
  width: 50px;
  height: 50px;
  
  margin-top: 15px;
  
  background-color: gray;
}

#slide__nav--01{
  
  width: 80px;
  height: 80px;
  
  background-color: blue;
}

.cont__h1{
    width: 25%;

    border-bottom: solid 3px;
    margin: 0 auto;
	padding: 5px;
    text-align: center;
    
	color: #783700;
    font-size: 30px;
}
#test01{
    position: absolute;
  
    top: 120%;
    left: 0;right: 0;
    margin: auto;

    width: 70%;
}
#topic__img{
	position: absolute;
	top: 50px;
}
.topic__img{
	position: absolute;
	
	top: 230px;
	
	width: 200px;
	height: 120px;
	box-shadow: 0px 2px 10px 0px;
	
	object-fit: cover;
}
#topic__img01{
	left: 0px;
	z-index: 3;
}
#topic__img02{
	top: 330px;
	left: 180px;
}
#topic__img03{
	top: 130px;
	left: 100px;
}
#test01 table{
    width: 45%;;
    margin-top: 100px;
    float: right;
}
#test01 table tr{
    border-bottom: solid 1px #F6BD8D;
}
.table__c tr p{
    display: inline-block;
    margin-top: 20px;
	padding: 5px;
    
	color: #AF6323;
    font-size: 18px;
}
.table__date{
    width: 30%;
	margin-left: 15px;
}
.table__txt{
}
.lnk{
	position: absolute;
	top: 500px;
	right: 0%;
	
	color: #783700;
	text-decoration:none;
}

#test02{
    position: absolute;
    clear: both;
    
    top: 220%;
    left: 0;
	right: 0;
    margin: auto;

    width: 70%;
}
#test02 div{
	width: 50%;
}
.menu01{
	position: absolute;
	top: 150px;
	right: 0;
}
.menu01 h3{
	
	text-align: left;
	
	font-size: 25px;
}
.menu01 p{
	position: absolute;
	right: 200px;
	top: 50px;
	
	width: 50%;
	text-align: right;
	padding: 5px;
	
	font-size: 20px;
	border-bottom: solid 1px;
}
.menu01 img{
	position: absolute;
	right: 0%;
	
	width: 150px;
}
.menu02{
}
.menu02 h3{
	position: absolute;
	top: 220px;
	right: 50%;
	
	font-size: 25px;
}
.menu02 p{
	position: absolute;
	left: 200px;
	top: 275px;
	
	width: 30%;
	text-align: left;
	padding: 5px;
	
	font-size: 20px;
	border-bottom: solid 1px;
}
.menu02 img{
	position: absolute;
	top: 225px;
	left: 0%;
	
	width: 200px;
	height: 150px;
	background-color: gray;
}

#menu__03{
	top: 400px;
}
#menu__04{
	top: 525px;
}

#test03{
    position: absolute;
  
    top: 320%;
    left: 0;right: 0;
    margin: auto;

    width: 80%;
}

footer{
    position: absolute;
    top: 420%;

    width: 100%;
    height: 100px;
    background-color: gray;
}