@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans+JP&display=swap');

/* 共通のスタイル */

*,html{
  margin: 0;
  padding: 0;
list-style: none;
    font-family: 'Merriweather', 'Noto Sans JP', serif, sans-serif;
}



body{
  max-width: 1920px;
  overflow: hidden visible;
  background-color: #FFF3E5;
}

header nav{
  float: left;
  
  z-index: 100;
  
  width: 100%;
  height: 50px;
  
  background-color: white;
  opacity: 75%;
}

header nav ul{
  width: 80%;
  
  margin: 0 auto;
  text-align: center;
  
  padding: 12px;
}

header nav ul li{
    display: inline;
    margin: auto 25px;
  
    list-style-type: none;
    font-size: 15px;
    color: #B36320;
}

nav a{
    text-decoration: none;
}

#nav__space{
  margin-right: 150px;
}



#nav__logo{
  
  width: 100px;
  height: 50px;
  border-radius: 0 0 50px 50px;

  top: 50px;
  right: 0;
  left: 0;
  margin: auto;
  
  background-color: white;
}
#nav__logo img{
  position: absolute;

  top: 5px;
  right: 0;
  left: 0;
  margin: auto;

  width: 80px;
}



div.slide{
  position: absolute;
  z-index: -1;
  
  text-align: center;
  
  width: 100%;
  height: 80%;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div#slide01{
  
  background-image: url('../image/slide__01.jpg');
  
  background-color: black;
}

div#slide02{
  left: 100%;
  
  background-image: url('../image/slide__02.jpg');
  background-color: blue;
}

div#slide03{
  left:200%;
  
  background-image: url('../image/slide__03.jpg');  
  background-color: red;
}

div#slide04{
  left:300%;
  
  background-image: url('../image/slide__04.jpg');
  background-color: red;
}

div#slide05{
  left:400%;
  
  background-image: url('../image/slide__05.jpg');
  background-color: red;
}

#slide__nav--box{
  position: absolute;
  overflow: hidden;
  clear: both;
  
  width: 100%;
  height: 15%;
  
  top: 85%;
  left: 0;
  right: 0;
  margin: auto;
}

#slide__wrap{
  width: 310px;
  margin: 0 auto;
}

.slide__nav{
  float: left;
  
  margin: 0 2.5px;
  
  box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
  
  background-size: cover;
  background-position: center;
}

.slide__nav--side{
  width: 50px;
  height: 50px;
  
  margin-top: 15px;
  
  background-color: gray;
}

#slide__nav--01{
  
  width: 80px;
  height: 80px;
  
  background-color: blue;
}

.cont__h1{
    width: 25%;

    border-bottom: solid 3px;
    margin: 0 auto;
	padding: 5px;
    text-align: center;
    
	color: #783700;
    font-size: 30px;
}
#cont__01{
    position: absolute;
  
    top: 120%;
    left: 0;right: 0;
    margin: auto;
    
    width: 70%;
}
#topic__img{
	position: absolute;
	top: 50px;
}
.topic__img{
	position: absolute;
	
	top: 230px;
	
	width: 250px;
	height: 150px;
	box-shadow: 0px 2px 10px 0px;
	
	object-fit: cover;
}
#topic__img01{
	left: 0px;
	z-index: 3;
}
#topic__img02{
	top: 330px;
	left: 180px;
}
#topic__img03{
	top: 130px;
	left: 100px;
}
#cont__01 table{
    width: 45%;;
    margin-top: 100px;
    float: right;
}
#cont__01 table tr{
    border-bottom: solid 1px #F6BD8D;
}
.table__c tr p{
    display: inline-block;
    margin-top: 20px;
    
	color: #AF6323;
}
.table__date{
	margin-left: 5px;
    
    font-size: 14px;
}
.table__txt{
    margin-left: 15px;
    
    font-size: 13px;
}
.lnk{
	position: absolute;
	top: 450px;
	right: 0%;
	
	color: #783700;
	text-decoration:none;
    
    font-size: 12px;
}

#cont__02{
    position: absolute;
    clear: both;
    
    top: 220%;
    left: 0;
	right: 0;
    margin: auto;

    color: #AF6323;
    width: 70%;
}
#cont__02 div.menu01{
    
    float: right;
    width: 50%;
}
#menu01{
    position: absolute;
    right: 0;
    top: 50px;
}
#menu02{
    position: absolute;
    
    left: 0;
    top: 220px;
}
#menu__03{
 position: absolute;

 top: 300px;
 right: 0;
}
#menu__04{
    position: absolute;
    
    top: 370px;
    left: 0;
}
.menu01{
    position: static;
    
    margin-top: 100px;
}
.menu01 h3{
    position: absolute;
    
    left: 10%;
    
    font-size: 18px;
}
.menu01 p{
    float: right;
    
    width: 55%;
    
    margin: 50px 00px 0 0;
    padding: 5px;
    text-align: right;
    border-bottom: solid 1px;
}
.menu01 img {
    float: right;
    
    width: 40%;
    height: 150px;
    
    object-fit: cover;
    
    background-color: gray;
    
    clear: both; 
}

/*************/

#cont__02 div.menu02{
    
    float: left;
    width: 50%;
}

.menu02{
    position: static;
}
.menu02 h3{
    position: absolute;
    
    right: 10%;
    
    font-size: 18px;
}
.menu02 p{
    float: left;
    
    width: 55%;
    
    margin: 50px 00px 0 0;
    padding: 5px;
    text-align: left;
    border-bottom: solid 1px;
}
.menu02 img {
    float: left;
    
    width: 40%;
    height: 150px;
    
    object-fit: cover;
    
    background-color: gray;
    clear: both;
}

/***********/
#menu__03{
    margin-top: 0;
}
#menu__04{
    margin-top: 0;
}

.lnk__02{
    position: absolute;
    
    top: 600px;
    right: 0;
	
	color: #783700;
	text-decoration:none;
    font-size: 12px;
}

#cont__03{
    position: absolute;
  
    top: 320%;
    left: 0;right: 0;
    margin: auto;

    color: #AF6323;
    width: 70%;
}
.cont03__list{
    font-size: 16px;
}
.cont03__tittle{
    font-size: 15px;
}
.cont03__list p{
    display: inline-block;
    
}
.cont03__txt02{
    display: none;
    margin-top: 5px;
    margin-bottom: 20px;
}
#cont__03 div{
    width: 50%;
    text-align: left;
}

#cont__03 div h2{
    width: 50%;
    margin: 80px auto;
    text-align: center;
}

#cont__03 div ul li{
    text-align: left;
}

#cont__03 img#map{
    position: absolute;
    
    margin-top: 100px;
    right: 0;
    top: 100px;
    
    width: 300px;
    height: 300px;
    object-fit: cover;
    
    background-color: gray;
}
.service__logo{
    height: 30px;
}

footer{
    position: absolute;
    top: 420%;

    width: 100%;
    background-color: #A47E57;
    color: white;
    padding: 15px;
}

footer nav{
  
  width: 100%;
  height: 50px;
  
  margin: 0px auto;
  
  padding: 1rem;
}

.footer__img{
    clear: both;
    
    width: 150px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    
    padding: 1rem;
}

.footer__img img{
    width: 35px;
    height: auto;
    
    margin: 0 10px;
}

footer nav ul{
  width: 100%;
  
  margin: 0 auto;
  text-align: center;
  clear: both;
}
footer nav ul li{
    display: inline-block;
    margin: 10px 15px;
}

footer p{
    text-align: center;
}

.footer__logo{
    width: 100%;
    padding: 1rem;
    
    text-align: center;
}

.footer__logo img{
    height: 30px;
}

footer a{
    text-decoration: none;
    color: white;
}