* {
  margin: 0;
  padding: 0;
  color: #1a284a;
}

body {
  background: #eff3f8;
}

form {
  width: 640px;
  background: #fff;
  margin: 32px auto;
  border: 1px solid #eee8ec;
  border-radius: 4px;
}

form > .form-header {
  font-size: 16px;
  padding: 16px;
  border-bottom: 1px solid #eee8ec;
  border-radius: 4px 4px 0 0;
}

form > .attention {
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px 0;
}

form > .field {
  padding: 16px;
}

form > .field > :first-child {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

form > .field > :last-child {
  color: #f00;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"], input[type="password"], select {
  width: 360px;
  height: 40px;
  background-color: #fbfbfb;
  font-size: 16px;
  padding: 0 8px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}

select[name="pref"] {
  width: 240px;
}

form > .form-footer {
  font-size: 16px;
  text-align: right;
  padding: 16px;
  border-top: 1px solid #eee8ec;
  border-radius: 4px 4px 0 0;
}

form > .form-footer > input[type="button"] {
  height: 40px;
  color: #fff;
  background: #1478ff;
  font-size: 16px;
  cursor: pointer;
  padding: 0 16px;
  border: none;
  border-radius: 2px;
}