.flex-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.flex-box > div{
    width: 20%;
    height: 240px;
    margin: 2.5%;
    
    background-color: blue;
    border: 1px solid #000;
    box-sizing: border-box;
    
    transition: all 0.3s;
}
.flex-box > div:hover{
    background-color: white;
    
    transform: rotate(45deg);
}