@charset "utf-8";

/* 
bodyの背景色
box,header,footer, trans01の背景色
sectionのborder-bottomの線の色
h2,pのグレー

pagetopの全体の色
*/

/* 共通のスタイル */

body{
    color: #000;
    text-align: left;
    background-color: rgb(104,195,197);
}

div#wrap{
    width: 400px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: rgba(51,85,139,0.8);
}
header{
    margin: 0 0 20px 0;
    padding: 10px 0;
    background-color: rgb(245,245,220);
    border-radius: 0 0 30px 30px;
}
    header h1{
        text-align: center;
        font-size: 1.2rem;
        font-weight: normal;
    }
nav{
    margin: 0 0 20px 0;
}
    nav ul{
        list-style-type: none;
        text-align: center;
    }
        nav ul li{
            display: inline-block;
			margin: 10px 25px;
        }
		/*nav ul li:nth-child(1),
		nav ul li:nth-child(4),
		nav ul li:nth-child(7){
			margin-left: 0;
		}
		nav ul li:nth-child(3),
		nav ul li:nth-child(6),
		nav ul li:nth-child(9){
			margin-right: 0;
			}*/
            nav ul li a{
                text-decoration: none;
                color: white;
            }
            nav ul li a:hover{
				opacity: 0.5;
            }
main{}
    main section{
        padding-bottom: 20px;
        margin-bottom: 20px;;
        border-bottom: 2px dashed white;
    }
        main section h2{
            background-color: #ddd;
            width: 150px;
            margin: 0 0 20px 0;
            padding: 10px 10px 10px 20px;
            float: left;
            box-sizing: border-box;
            border-radius: 30px 0 0 30px;
            font-weight: normal;
        }
        main section p{
            background-color: #ccc;
            width: 250px;
            margin: 0 0 20px 0;
            padding: 10px;
            float: left;
            box-sizing: border-box;
            border-radius: 0 30px 30px 0;
        }
        main section div{}

aside{}
    aside figure{
        margin-bottom: 20px;
    }
        aside figure img{
            width: 100%;
        }
        aside figure figcaption{
            margin-top: 10px;
            text-align: right;
        }

footer{
    margin: 20px 0 0 0;
    padding: 10px 0;
    background-color: #8eb9ff;
    border-radius: 30px 30px 0 0;
    text-align: center;
}

/* CSS3の復習 */

/* 共通のbox */
.box{
    display: table-cell;
    width: 400px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(255,221,238);
}

/* 角を丸くする */
.radius{
    border-radius: 30px 30px 30px 30px;
}


/* ボックスに影をつける */
.b-shadow{
    box-shadow: 1px 1px 5px #000;
}

/* テキストに影をつける */
.t-shadow{
    text-align: center;
    text-shadow: 1px 1px 5px #000;
    color: #fff;
    line-height: 0;
}

/* グラデーション */
.gradient{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100;Grey+Pipe */
    background: #f5f6f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
}

/* 変形（回転） */
.rotate{
    transform: rotate(10deg);
}

/* アニメーション */
.trans01{
    background-color: rgb(255,221,238);
    font-size: 1rem;
    width: 400px;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    left: 0;
    border: 0 #000 solid;
    font-weight: normal;

    /* transition */
    transition:
        background-color 0.5s linear,
        font-size 0.5s linear,
        width 0.5s linear,
        border-radius 0.5s linear,
        left 0.5s linear,
        border 0.5s linear,
        font-weight 0.5s linear
        ;

        box-sizing: border-box;

}
.trans01:hover{
    background-color: red;
    font-size: 3rem;
    width: 300px;
    border-radius: 150px 150px 150px 150px;
    position: relative;
    left: 50px;
    border: 10px #000 solid;
    font-weight: bold;
}
.trans02{
    display: block;
    margin: 10px 0 0 0;
    height: 0;
    padding: 150px 0 150px 0;
    line-height: 0;
    background-image: url(../images/trans01.jpg);
    /* transition */
    transition:
        background-image 0.5s linear,
        transform 0.5s
        ;
}

.trans02:hover{
    background-image: url(../images/trans02.jpg);
    transform: rotate(360deg);
}
.trans02:active{
    background-image: url(../images/trans03.jpg);
    transform: rotate(720deg);
}

/* 背景画像 */
.back{
    background-image: url(../images/back.gif);
    clear: both;
    padding: 10px;
}
/* 透明（全体） */
.opa{
    opacity: 0.5;
}
/* 透明（色） */
.rgba{
    
    background-color: rgba(255,221,238,0.5);
}

/* アクア調ボタン */
ul#aqua{
    list-style-type: none;
    text-align: center;
}
ul#aqua li{
    display: inline-block;
}
ul#aqua li a{
    margin: 0.5px;
    padding: 2px 5px 0 5px;
    text-decoration: none;
    color: #fff;
    background: #f5f6f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
    border: 1px solid rgba(184, 186, 198, 0.5);
    text-shadow: 1px 0 3px rgba(0, 0, 0, 0.8);
    position: relative;
    top: 0;
    transition: top 0.05s linear;
}
ul#aqua li a:hover{
    top: -3px;
}



/* ページトップへ戻る */
.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 15px;
}
.pagetop a {
    display: block;
    background-color: #ccc;
    color: #222;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
    opacity: 0.5;
}
.pagetop a:hover {
    background-color: #b2d1fb;
    color: #fff;
    opacity: 0.5;
}