html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}

main{
    position: relative;
    
    height: 100%;
    width: 375pt;
    margin: 0 auto;
    text-align: center;
}

.hr{
    margin-top: 5rem;
}

.fixed-menu{
    /*display: none;*/
    position: fixed;
    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    
    height: 100%;
    width: 100%;
    background-color: #19FFd8;
}
#menu{
    width: auto;
}
#menu img:first-child{
    position: fixed;
    top: 2rem;
    right: 2rem;
    height: 6%;
    width: auto;
}

#menu-content{
    position: fixed;
    top: 5%;
    right: 0;
    left: 0;
    margin: 0;
    height: 60%;
}
#menu-content img{
    margin: 2rem 0;
    height: 9%;
    width: auto;
}

#links{
    position: fixed;
    
    right: 0;
    left: 0;
    margin: 0;
    bottom: 5%;
    height: 30%;
    width: auto;
}
#links a{
    height: 12%;
    width: auto;
}
#links a img{
    margin: 1rem 0;
    height: 12%;
    width: auto;
}