main{
    position: absolute;
    
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    
    height: auto;
    width: 100%;
}

#logo{
    position: relative;
    width: 30%;
    margin: 0 auto;
    text-align: right;
}

#logo img:first-child{
    width: 100%;
}
#logo img:nth-child(2){
    width: 100%;
    margin-top: 5px;
}

#logo div{
    position: relative;
    
    top: -2rem;
}
#logo div img:first-child{
    position: relative;
    
    width: 15%;
}
#logo div img:last-child{
    position: relative;
    
    top: -60px;
    right: -20%;
    width: 20%;
}

#enter{
    width: 30%;
    margin: 0 auto;
    text-align: center;
}
#enter img{
    width: 40%;
}

#links{
    width: 20%;
    margin: 5rem auto;
    text-align: center;
}
#links a img{
    width: 70%;
}
#sns{
    display: flex;
    justify-content: space-between;
    
    width: 90%;
    margin: 1rem auto;
}
#sns img{
    width: 30%;
}
#youtube img{
    width: 60%;
    margin: 0 auto;
}